*{
    font-family: 'Muli', sans-serif;
    padding: 0;
    margin: 0;

}
.image{
    background-color: lightblue;
    height:420px;
    width:850px;
    border-radius: 1%;
    margin-top:60px
}
h1{
    color: blue;
    font-size:30px;
    font-weight: bolder;
    position: absolute;
    top:200px;
    left:45px;
    width:450px;
}
p{
    font-size:20px;
    font-weight: 500;
    position: absolute;
    top:290px;
    left:45px;
    width:450px;
}
img{
    width:300px;
    height: 360px;
    margin-top: 40px;
    margin-left: 480px;
    display:inline-block;
    border-radius: 6px;
}
h2{
    position: absolute;
    top:60px;
    left:860px;
    font-size:23px;
    font-weight: bold;
}
pre{
    position: absolute;
    top:67px;
    left:830px;
    font-weight: lighter;
    font-size:16px;
    line-height: 2em;
}
.like{
  margin-top: 250px;
  font-family: Arial;
  font-size: 14px;
}
