<p *ngIf="!loaded">Loading...</p><div>
    <h2 class="album-id">Details for album #{{album.id}}</h2>
	<div *ngIf="loaded" class="album-detail">
	  	<div class="adding-title">
		  	<input type="text" [(ngModel)]="album.title">
		  	<button (click)="updateAlbum()" class="save-button">Save</button>
        </div>
        <p>{{ album.title }}</p>

	</div>
  <div class="buttons">
    <button (click)="goBack()" class="back-button">Return Back</button>
    <a routerLink="/albums/{{album.id}}/photos" class="photos-link">PHOTOS</a>
  </div>
</div>
