#img{
    width: 300;
    margin-left: -30px;
}
body {
    margin-top: 180px;
    margin-left: 140px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
	background-color:#f0f2f5;

}
h2{
    margin-top:-4;
    font-size: 28px;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}

#sign-in{
    width: 400px;
    height: 400px;
    border-top: -130px;
    border-left: 600px;
    position: absolute;
    margin-left: 600px;
    margin-top: -253px;
    background-color: white;
    border-radius: 10px;
    
}
#frame{
    width:364px;
    height: 52px;
    margin-top:20px;
    margin-left: 15px;
    position:relative;
    border-radius: 6px;
    border-color: rgba(141, 137, 137, 0.884);

}
#frame2{
    width:364px;
    height: 52px;
    margin-top:15px;
    margin-left: 15px;
    position:relative;
    border-radius: 6px;
    border-color: rgba(141, 137, 137, 0.884);
}
#button{
    width:364px;
    height: 48px;
    margin-top:10px;
    margin-left: 15px;
    position: absolute;
    border-radius: 6px;
    background-color: #1877f2;
    color:white;
    border-color: #1877f2;

} 
#forgot{
    margin-top: 80px;
    margin-left: 150px;
    position: absolute;
    color:blue;
}
#button2{
    background-color:#42B72A;
    color:white;
    width:200px;
    height: 48px;
    margin-top:140px;
    margin-left: 100px;
    position: absolute;
    border-radius: 6px;
    border-color:#42B72A;
}
ul li{
    display: inline;
    margin-top:340px;
	padding: 10px;
    text-align: left;
    width: 100%;
	left:0;
}
#f{
    margin-left: 50px;
    text-align: left;
}
#end{
    text-align: left;
	position: absolute;
    width: 100%;
    margin-left: -140px;
    margin-top: 400px;
	background-color: white;
}