#icon{
    width: 200px;
    margin-left: 60px;
    margin-top: 20px;
}
body {
    margin-top: 100px;
    margin-left: 0px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    background-color: rgba(247, 247, 247, 0.993);

}
header{
    margin-top: 0px;
}
#phone{
    width:450px;
    margin-left: 200px;
}
#sign-in{
    margin-top: -600px;
    overflow: hidden;
    width: 200px;
    margin-left: 720px;
}
#frame1{
    width:258px;
    height: 36px;
    border:1px solid rgba(0, 0, 0, 0.63);
    margin-top:20px;
    margin-left: 40px;
    position:relative;
    border-radius: 6px;
    color:gray;
    font-size: 12px;

}
#frame2{
    width:258px;
    height: 36px;
    margin-top:20px;
    margin-left: 40px;
    position:inherit;
    border:1px solid rgba(0, 0, 0, 0.63);
    border-radius: 6px;
    position: relative;
    color:gray;
    font-size: 12px;
}
#button{
    width:258px;
    height: 36px;
    margin-left: 40px;
    background-color: #b3e4f7;
    color:white;
    border-color: #b3e4f7;
    border-radius: 6px;
}
h3{
    margin-left: 150px;;
    color:rgb(192, 191, 191);

}
h2{
    font-family: sans-serif;
    font-size: 13px;
}
#Facebook{
    margin-left: 100px;
    color:blue;
}
#forgot{
    margin-left: 110px;
}
#sign-in{
    width:340px;
    margin-left: 650px;
    background-color: white;
    position:relative;
    border:1px solid rgb(192, 191, 191);
}
#register{
    text-align: center;
    margin-top: 20px;
    width:340px;
    margin-left: 650px;
    background-color: white;
    position:relative;
    border:1px solid rgb(192, 191, 191);
}
#store{
    margin-left: 650px;
}
h4{
    margin-left: -250px;
    text-align: center;
    font-size: 15px;
    font-style:normal;
    font-family: monospace;
}
#app{
    margin-left: 50px;
    width: 130px;
}
#end{
    margin-top: 120px;
    text-align: center;
}
ul li{
    display: inline;
	padding: 10px;
    text-align: center;
    width: 100%;
	left:0;
}
#f{
    text-align: center;
}